@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge-primary {
    @apply flex flex-col justify-center items-center bg-cyan-600 text-white text-xs font-semibold px-2.5 h-6 rounded-full;
  }
  .badge-bold {
    @apply flex flex-col justify-center items-center bg-cyan-800 text-white text-xs font-semibold px-2.5 h-6 rounded-full;
  }
  .badge-square {
    @apply flex flex-col justify-center items-center bg-cyan-100 text-cyan-600 text-xs font-semibold px-2.5 h-6 rounded-sm;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
