@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge-primary {
    @apply flex flex-col justify-center items-center bg-desaturated_dark_cyan text-white text-xs font-semibold px-2.5 h-6 rounded-full;
  }
  .badge-bold {
    @apply flex flex-col justify-center items-center bg-very_dark_grayish_cyan text-white text-xs font-semibold px-2.5 h-6 rounded-full;
  }
  .badge-square {
    @apply flex flex-col justify-center items-center bg-light_grayish_cyan_background text-desaturated_dark_cyan text-xs font-semibold px-2.5 h-6 rounded-sm;
  }
}

/* - Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%) */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
